[package]
name = "zkcrypto"
version = "0.1.0"
edition = "2018"



# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html



[dependencies]
kzg = { path = "../kzg"}
kzg-bench = { path = "../kzg-bench" }
# bls12_381 = {'git' = 'https://github.com/dfaranha/bls12_381.git'}
blst = {'git' = 'https://github.com/supranational/blst.git'}
pairing = "0.21.0"
bls12_381 = "0.6.0"
num-bigint = "0.4"
rand = "0.8"
rand_core = "0.6"
subtle = "2.2.1"

[dependencies.ff]
version = "0.11"
default-features = false

[dev-dependencies]
criterion = "0.3.5"

[[bench]]
name = "poly"
harness = false

[[bench]]
name = "das"
harness = false