[package]
name = "zkcrypto"
version = "0.1.0"
edition = "2018"

[profile.bench]
opt-level = 3
debug = false
lto = "thin"

[dependencies]
kzg = { path = "../kzg"}
kzg-bench = { path = "../kzg-bench" }
blst = {'git' = 'https://github.com/supranational/blst.git'}
pairing = "0.22.0"
bls12_381 = "0.7.0"
num-bigint = "0.4"
rand = "0.8"
rand_core = "0.6"
subtle = "2.2.1"
rayon = "1.5.1"
sha2 = "0.10.6"

[dependencies.ff]
version = "0.12"
default-features = false

[dev-dependencies]
criterion = "0.4.0"

[features]
parallel = []


[[bench]]
name = "zero_poly"
harness = false

[[bench]]
name = "poly"
harness = false

[[bench]]
name = "das"
harness = false

[[bench]]
name = "fft"
harness = false

[[bench]]
name = "kzg"
harness = false

[[bench]]
name = "fk20"
harness = false

[[bench]]
name = "recover"
harness = false
