name: CI Build

on: [push]

jobs:
  ci:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-11]

    steps:
    - uses: actions/checkout@v2

    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        components: clippy, rustfmt

# Prerequisites ####################################################

    - name: Build native libs (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        bash ci/unix.sh $(which sed)

    - name: Build native libs (MacOS)
      if: matrix.os == 'macos-11'
      run: |
        brew install gnu-sed
        bash ci/unix.sh $(which gsed)

# 1st team #########################################################

    - uses: actions-rs/cargo@v1
      with:
        command: test
        args: --manifest-path Arkworks/Cargo.toml

    - uses: actions-rs/cargo@v1
      with:
        command: bench
        args: --manifest-path Arkworks/Cargo.toml

    - uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --manifest-path Arkworks/Cargo.toml

# 3rd team #########################################################

    # - uses: actions-rs/cargo@v1
    #   with:
    #     command: test
    #     args: --manifest-path from-scratch/Cargo.toml

    # - uses: actions-rs/cargo@v1
    #   with:
    #     command: bench
    #     args: --manifest-path from-scratch/Cargo.toml

    # - uses: actions-rs/cargo@v1
    #   with:
    #     command: fmt
    #     args: --manifest-path from-scratch/Cargo.toml

# 4th team #########################################################

    # - uses: actions-rs/cargo@v1
    #   if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-11'
    #   with:
    #     command: test
    #     args: --manifest-path ckzg/Cargo.toml

    # - uses: actions-rs/cargo@v1
    #   if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-11'
    #   with:
    #     command: bench
    #     args: --manifest-path ckzg/Cargo.toml

    # - uses: actions-rs/cargo@v1
    #   with:
    #     command: fmt
    #     args: --manifest-path ckzg/Cargo.toml

# 5th team ###########################################################

    # - name: Run mcl-kzg10-rust tests
    #   if: matrix.os == 'ubuntu-latest'
    #   run: |
    #     cargo test --manifest-path kzg10-rust/kzg-bench/Cargo.toml -- --test-threads 1 
        
    # - name: Run mcl-kzg10-rust benches
    #   if: matrix.os == 'ubuntu-latest'
    #   run: |
    #     cargo bench --manifest-path kzg10-rust/kzg-bench/Cargo.toml
        
    # - name: Run mcl-kzg10-rust fmt
    #   if: matrix.os == 'ubuntu-latest'
    #   run: |
    #     cargo fmt --manifest-path kzg10-rust/kzg-bench/Cargo.toml
        

# Common ###########################################################

    - uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --manifest-path kzg-bench/Cargo.toml