name: automatic release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install packages
        run: |
          sudo apt install -y mingw-w64

      - name: "[blst] Prepare artifact folders"
        run: |
          # Linux
          mkdir -p staging/linux/non-parallel
          mkdir -p staging/linux/non-parallel-force-adx
          mkdir -p staging/linux/parallel
          mkdir -p staging/linux/parallel-force-adx
          # Windows
          mkdir -p staging/windows/non-parallel
          mkdir -p staging/windows/non-parallel-force-adx
          mkdir -p staging/windows/parallel
          mkdir -p staging/windows/parallel-force-adx

      - name: "[blst] Build Linux"
        run: |
          cargo rustc --manifest-path blst/Cargo.toml --release --target x86_64-unknown-linux-gnu --crate-type=staticlib --features=blst-portable
          mv target/x86_64-unknown-linux-gnu/release/libblst_rust.a staging/linux/non-parallel/rust-kzg-blst.a
          cargo rustc --manifest-path blst/Cargo.toml --release --target x86_64-unknown-linux-gnu --crate-type=staticlib --features=blst-force-adx
          mv target/x86_64-unknown-linux-gnu/release/libblst_rust.a staging/linux/non-parallel-force-adx/rust-kzg-blst.a
          cargo rustc --manifest-path blst/Cargo.toml --release --target x86_64-unknown-linux-gnu --crate-type=staticlib --features=parallel,blst-portable
          mv target/x86_64-unknown-linux-gnu/release/libblst_rust.a staging/linux/parallel/rust-kzg-blst.a
          cargo rustc --manifest-path blst/Cargo.toml --release --target x86_64-unknown-linux-gnu --crate-type=staticlib --features=parallel,blst-force-adx
          mv target/x86_64-unknown-linux-gnu/release/libblst_rust.a staging/linux/parallel-force-adx/rust-kzg-blst.a

      - name: "[blst] Compress Linux artifacts"
        run: |
          cp LICENSE staging/linux/
          cp blst/*.patch staging/linux/
          cd staging/linux/
          zip rust-kzg-blst-linux.zip -r *

      - name: "[blst] Build Windows"
        run: |
          cargo rustc --manifest-path blst/Cargo.toml --release --target x86_64-pc-windows-gnu --crate-type=staticlib --features=blst-portable
          mv target/x86_64-pc-windows-gnu/release/libblst_rust.a staging/windows/non-parallel/rust-kzg-blst.a
          cargo rustc --manifest-path blst/Cargo.toml --release --target x86_64-pc-windows-gnu --crate-type=staticlib --features=blst-force-adx
          mv target/x86_64-pc-windows-gnu/release/libblst_rust.a staging/windows/non-parallel-force-adx/rust-kzg-blst.a
          cargo rustc --manifest-path blst/Cargo.toml --release --target x86_64-pc-windows-gnu --crate-type=staticlib --features=parallel,blst-portable
          mv target/x86_64-pc-windows-gnu/release/libblst_rust.a staging/windows/parallel/rust-kzg-blst.a
          cargo rustc --manifest-path blst/Cargo.toml --release --target x86_64-pc-windows-gnu --crate-type=staticlib --features=parallel,blst-force-adx
          mv target/x86_64-pc-windows-gnu/release/libblst_rust.a staging/windows/parallel-force-adx/rust-kzg-blst.a

      - name: "[blst] Compress Windows artifacts"
        run: |
          cp LICENSE staging/windows/
          cp blst/*.patch staging/windows/
          cd staging/windows/
          zip rust-kzg-blst-windows.zip -r *

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Automatic Release"
          files: |
            staging/linux/rust-kzg-blst-linux.zip
            staging/windows/rust-kzg-blst-windows.zip
